.projects {
  display: flex;
  flex-direction: column;
  gap: clamp(4em, 10vw, 8em);

  h2 {
    margin-bottom: -3em;
  }

  article {
    width: 100%;
    display: flex;

    & > div:first-child {
      max-width: 700px;
      width: 100%;
      aspect-ratio: 1/0.5;

      img {
        width: 100%;
      }
    }

    & > div:nth-child(2) {
      font-family: var(--tertiary-font);
      font-size: 4rem;
      font-weight: 700;
      -webkit-text-stroke: 1px var(--secondary-font-clr);
      -webkit-text-fill-color: transparent;
      text-stroke: 1px var(--secondary-font-clr);
      text-fill: transparent;
      margin-left: -0.25em;
      z-index: 2;
    }

    & > div:last-child {
      display: flex;
      flex-direction: column;
      padding-top: 5em;
      margin-left: 4em;
      gap: 2em;
      max-width: 500px;

      h3 {
        font-family: var(--tertiary-font);
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 100%;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;

        li {
          padding: 0.2em 0.65em;
          background: var(--secondary-bg);
          box-shadow: 0 2px 0px 0 var(--secondary-bg);
          backdrop-filter: blur(18px);
          -webkit-backdrop-filter: blur(18px);
          border: 1px solid var(--secondary-bg);
          border-radius: 1rem;
          height: fit-content;
        }
      }

      div:last-child {
        width: fit-content;
        font-weight: 500;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
          width: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .projects article {
    & > div:last-child {
      padding: 0;
      margin-left: 3em;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1200px) {
  .projects article {
    & > div:nth-child(2) {
      font-size: 3rem;
    }
    & > div:last-child {
      margin-left: 2em;
      gap: 1.5em;
      h3 {
        font-size: 2rem;
      }

      ul li {
        font-size: 0.9rem;
      }

      div:last-child {
        font-size: 0.8rem;
        gap: 6px;
        svg {
          width: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    gap: 7em;

    h2 {
      margin-bottom: -3em;
    }

    article {
      position: relative;
      flex-direction: column;
      gap: 2em;

      & > div:first-child {
        margin: 0 auto;
        aspect-ratio: unset;
      }

      & > div:nth-child(2) {
        max-width: 700px;
        width: 100%;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        text-align: end;
      }

      & > div:last-child {
        position: relative;
        justify-content: unset;
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        row-gap: 20px;
        column-gap: 5em;
        grid-template-columns: auto auto;

        ul {
          align-items: unset;
          justify-content: flex-end;
        }

        & > div:last-child {
          position: absolute;
          top: 4em;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .projects {
    article {
      gap: 1em;

      & > div:nth-child(2) {
        top: -45px;
        font-size: 2rem;
      }

      & > div:last-child {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        ul {
          width: 100%;
          justify-content: flex-start;
          li {
            font-size: 0.7rem;
          }
        }

        & > div:last-child {
          position: unset;
        }
      }
    }
  }
}
