:root {
  // Fonts
  --primary-font: "Roboto Condensed", sans-serif;
  --secondary-font: "Kalam", cursive;
  --tertiary-font: "Oswald", sans-serif;

  // Colors
  --black: rgb(0, 0, 0);
  --brown: #221c1b;
  --extra-off-brown: rgba(34, 28, 27, 0.45);

  --yellow: #ffc062;
  --cream: #f7f5d1;

  --white: #ffffff;
  --off-white: rgba(255, 255, 255, 0.65);
  --extra-off-white: rgba(255, 255, 255, 0.15);
}

.dark-mode {
  --primary-bg: var(--brown);
  --secondary-bg: var(--extra-off-white);
  --nav-bg: rgba(34, 28, 27, 0.85);

  --button-shadow: rgba(255, 255, 255, 0.2);

  --primary-font-clr: var(--white);
  --secondary-font-clr: var(--off-white);
  --focus-font-clr: var(--yellow);
}

.light-mode {
  --primary-bg: var(--cream);
  --secondary-bg: var(--extra-off-brown);
  --nav-bg: rgba(247, 245, 209, 0.85);

  --button-shadow: rgba(0, 0, 0, 0.5);

  --primary-font-clr: var(--brown);
  --secondary-font-clr: var(--black);
  --focus-font-clr: var(--yellow);
}
