.main {
  gap: 4em;
}

.top-links {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4em;
  margin: 0 auto;

  a {
    display: block;
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 500;
    svg {
      display: inline-block;
      margin-left: 5px;
      width: 12px;
    }
  }
}

.sequence {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -2em;

  ul {
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: clamp(1rem, 3vw, 1.25rem);
    span {
      opacity: 0.5;
      border-bottom: 3px solid transparent;
    }
  }

  & > span {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
    font-family: var(--tertiary-font);
    -webkit-text-stroke: 1px var(--secondary-font-clr);
    -webkit-text-fill-color: transparent;
    text-stroke: 1px var(--secondary-font-clr);
    text-fill: transparent;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(3em, 7vw, 6em);

  .left {
    display: flex;
    flex-direction: column;
    gap: 1em;

    h3 {
      font-size: 2.8rem;
      font-size: 700;
      font-family: var(--tertiary-font);
      color: var(--focus-font-clr);
    }

    p {
      font-size: 1rem;
    }
  }

  .right {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: var(--tertiary-font);
    }

    ol {
      display: flex;
      flex-direction: column;
      gap: 0.75em;
      line-height: 150%;
      letter-spacing: 0.2ch;

      li {
        margin-left: 3ch;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .content {
    margin-top: -1em;
    display: flex;
    flex-direction: column;
    gap: 3em;

    .left {
      max-width: 850px;

      h3 {
        font-size: clamp(2rem, 2vw, 2.8rem);
      }
    }

    .right {
      h4 {
        font-size: clamp(1.25rem, 2vw, 1.5rem);
      }
    }
  }
}
