.about {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & > div:first-child {
    p {
      line-height: 150%;
      font-size: 1.2rem;
      letter-spacing: 0.2ch;
    }
  }

  & > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 428px;
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;

    svg:first-child {
      width: 300px;
      transform: rotate(-2deg);
      animation: boat 2s linear infinite alternate;
    }

    svg:last-child {
      margin-top: -1.15em;
      min-width: 1200px;
      height: 75px;
      z-index: 2;
      transform: translateX(25%);
      animation: sea 30s linear infinite alternate;
    }
  }
}

@keyframes boat {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}

@keyframes sea {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(-25%);
  }
}
