.skills {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2em;

    li {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 1em;

      svg {
        height: 80px;
      }

      span {
        font-size: 1.2rem;
        font-weight: 500;
        font-family: var(--tertiary-font);
      }
    }
  }
}
