.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0em;
  background: var(--nav-bg);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
  width: 100%;
  z-index: 3;

  & > a {
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    font-weight: 700;
    cursor: pointer;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
    list-style: none;
    font-weight: 500;
  }
}
